.message {
  z-index: 9999;
  position: fixed;
  display: flex;
  width: 100%;
  height: 3rem;
}

input {
  background-color: #000000;
  color: #ffffff;
  outline: none;
  border: none;
}

#input {
  width: 80%;
}

button {
  background-color: #000000;
  color: #ffffff;
  outline: none;
  border: none;
}

#button {
  width: 20%;
}
